<div *ngIf="formVisible">
<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
        <ng-container *ngIf="protocol_json_data">
            <section>
                <ng-container *ngIf="protocol_json_data['common']">
                    <ng-container *ngFor="let d of protocol_json_data['common']['supported_options']">
                        
                        <!-- Handling html tag as textbox  -->
                        <div *ngIf="get_html_tag_type(d)=='text'">
                            <label for="{{get_lable_description(d)}}" class="fixed-width-label" >{{get_lable_description(d)}} : </label>
                            <input type="text" id="{{d}}" name="{{d}}" [formControlName]="d">
                            <button type=button (click)="toggleHelp(d)" class="help-button">
                                ?
                            </button> 
                            <div *ngIf="common_field_help_and_error_message[d]['showHelpMessage']" class="help-message">
                                <p [innerHTML]="get_help_string(d)"></p>
                                <button type=button (click)="toggleHelp('all')" class="help-button">Close</button>
                            </div>
                            <label *ngIf="common_field_help_and_error_message[d].showErrorMessage" class="label-error-mesage">{{common_field_help_and_error_message[d].errorMessage}}</label>
                            <br><br>
                        </div>
                        <!-- End of Handling html tag as textbox  -->

                        <!-- Handling html tag as dropdown  -->
                        <div *ngIf="get_html_tag_type(d)=='drop_down'">
                            <label for="{{get_lable_description(d)}}" class="fixed-width-label" >{{get_lable_description(d)}} : </label>
                            <select [formControlName]="d">
                               <option *ngFor="let k of get_drop_down_dict(d) | keyvalue " id="{{k.key}}" value="{{k.value}}"> {{k.key}} </option>
                           </select>
    
                           <button type=button (click)="toggleHelp(d)" class="help-button">
                            ?
                            </button> 
                             <div *ngIf="common_field_help_and_error_message[d]['showHelpMessage']" class="help-message">
                                <p [innerHTML]="get_help_string(d)"></p>
                                <button type=button (click)="toggleHelp('all')" class="help-button">Close</button>
                             </div>
    
                           <label *ngIf="common_field_help_and_error_message[d].showErrorMessage" class="label-error-mesage">{{common_field_help_and_error_message[d].errorMessage}}</label>
                            <br><br>
                        </div>
                         <!-- End of Handling html tag as dropdown  -->

                        <!-- Handling html tag as checkbox_list  -->
                         <ng-container *ngIf="get_html_tag_type(d) === 'check_box_list'">
                            <div>
                                <label for="{{get_lable_description(d)}}" class="fixed-width-label" >{{get_lable_description(d)}} : </label>
                            <ng-container *ngFor="let l of json_keyword[d].check_box_list">
                                <input  type="checkbox" name="{{l}}" value="{{l}}" (change)="handleCheckboxChange($event, d)">
                                <label for="{{l}}"> {{l}}</label>
                                <label *ngIf="common_field_help_and_error_message[d].showErrorMessage" class="label-error-mesage">{{common_field_help_and_error_message[d].errorMessage}}</label>
                            </ng-container>
                            <button type=button (click)="toggleHelp(d)" class="help-button">
                                ?
                            </button> 
                            <div *ngIf="common_field_help_and_error_message[d]['showHelpMessage']" class="help-message">
                                <p [innerHTML]="get_help_string(d)"></p>
                                <button type=button (click)="toggleHelp('all')" class="help-button">Close</button>
                            </div>
                        </div>
                        <br>
                        </ng-container>
                        <!-- End of Handling html tag as checkbox_list  -->

                        <!-- Handling html tag as checkbox  -->
                        <div *ngIf="get_html_tag_type(d)=='check_box'">
                            <label for="{{get_lable_description(d)}}" class="fixed-width-label" >{{get_lable_description(d)}} : </label>
                            <input  type="checkbox" name="{{d}}" value="{{d}}" (change)="handleCheckboxChange($event, d)">
                            <br><br>
                        </div>
                        <!-- End of Handling html tag as checkbox  -->

                        <!-- Handling html tag as ordered_tag_mandatory_optional  -->
                        <div *ngIf="get_html_tag_type(d)=='ordered_tag_mandatory_optional'">
                            <label for="{{get_lable_description(d)}}" class="fixed-width-label" >{{get_lable_description(d)}} : </label>
                            <ng-container formGroupName="{{d}}">
                                <table class="auto-width-table">
                                    <tr class="auto-tr">
                                        <ng-container *ngFor="let oName of get_order_name_list(d)">
                                            <ng-container *ngIf="get_order_name_html_type(d, oName) == 'text'">
                                                <td class=".auto-td">
                                                    <label for={{oName}}>{{oName}} : </label>
                                                          <!-- Your controls within the nestedFormGroup -->
                                                          <input type="text" formControlName="{{oName}}">
                                                    <br>
                                                </td>
                                            </ng-container>
    
                                            <ng-container *ngIf="get_order_name_html_type(d, oName) == 'drop_down'">
                                                <td class=".auto-td">
                                                    <label for={{oName}}>{{oName}} : </label>
                                                    <select formControlName="{{oName}}">
                                                        <option *ngFor="let k of get_drop_down_dict_for_order(d, oName) | keyvalue " id="{{k.key}}" value="{{k.value}}"> {{k.key}} </option>
                                                    </select>
                                                    <br>
                                                </td>
                                            </ng-container>
    
                                        </ng-container>
                                    </tr>
                                </table>
                            </ng-container>

                        </div>
                        <!-- Handling html tag as ordered_tag_mandatory_optional  -->

                    </ng-container>
                </ng-container>
            </section>

            <!-- Content Part Handling 
            content_match_text_box, content_dict.content_modifier_negate, content_dict.content_modifier_selected
            -->
            <section>
                <ng-container *ngIf="protocol_json_data['content']">
                    <br><br>
                    <ng-container *ngIf="protocol_json_data['content']['supported_options']">
                        <label for="content_match">Add Content Match Criteria : </label>
                        <button [disabled]="disabledContentMatchButton" type="button" (click)="addContentMatch()">Add Content Match</button>
                        <label *ngIf="content_modifier_showErrorMessage" class="label-error-mesage">{{content_modifier_error_message}}</label> 
                        <br><br>
                        <div *ngIf="showContentMatchTextBox">
                            <label *ngIf="showContentMatchTable" for="content_match_text">Specify Content string : </label>
                            <input  *ngIf="showContentMatchTable" [(ngModel)]="content_match_text_box" [ngModelOptions]="{standalone: true}" type="text">
                            <input  *ngIf="showContentMatchTable" [(ngModel)]="content_dict.content_modifier_negate" [ngModelOptions]="{standalone: true}" type="checkbox" name="negate" 
                            (change)="negateContentModifierContent($event)">
                            <label *ngIf="showContentMatchTable">Negate the Match </label>
                            <br><br>
                            <table *ngIf="showContentMatchTable">
                                <thead>
                                    <tr>
                                        <th>Match Criteria</th>
                                        <th>Value</th>
                                        <th>Add Another</th>
                                        <th>Description</th>
                                      </tr>
                                </thead>
                                <tr>
                                    <td>
                                        <select [(ngModel)]="content_dict.content_modifier_selected" [ngModelOptions]="{standalone: true}" >
                                            <option *ngFor="let k of get_content_modifier()" id="{{k}}" value="{{k}}"> {{k}} </option>
                                        </select>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="content_dict.content_modifier_selected">
                                            <ng-container *ngIf="get_html_tag_type(content_dict.content_modifier_selected) == 'text'">
                                                <input [(ngModel)]="content_modifier_object[content_dict.content_modifier_selected]" [ngModelOptions]="{standalone: true}"type="text">
                                            </ng-container>

                                            <ng-container *ngIf="get_html_tag_type(content_dict.content_modifier_selected)== 'na'">
                                                <label>Not Applicable</label>
                                            </ng-container>

                                            <ng-container *ngIf="get_html_tag_type(content_dict.content_modifier_selected)== 'check_box'">
                                                <input  type="checkbox" name="{{content_dict.content_modifier_selected}}" value="{{content_dict.content_modifier_selected}}"
                                                 (change)="object_check_box_change($event, content_dict.content_modifier_selected)">
                                            </ng-container>

                                            <ng-container *ngIf="get_html_tag_type(content_dict.content_modifier_selected)== 'check_box_list'">
                                                <ng-container *ngFor="let l of json_keyword[content_dict.content_modifier_selected].check_box_list">
                                                    <input  type="checkbox" name="{{l}}" value="{{l}}" (change)="object_check_box_change($event, content_dict.content_modifier_selected)">
                                                    <label for="{{l}}"> {{l}}</label>
                                                </ng-container>
                                            </ng-container>

                                            <ng-container *ngIf="get_html_tag_type(content_dict.content_modifier_selected)== 'drop_down'">
                                                <select [(ngModel)]="content_modifier_object[content_dict.content_modifier_selected]" [ngModelOptions]="{standalone: true}">
                                                    <option *ngFor="let k of get_drop_down_dict(content_dict.content_modifier_selected) | keyvalue " id="{{k.key}}" value="{{k.value}}"> {{k.key}} </option>
                                                </select>
                                            </ng-container>

                                            <ng-container *ngIf="get_html_tag_type(content_dict.content_modifier_selected)== 'ordered_tag_mandatory_optional'">
                                                <ng-container *ngFor="let oName of get_order_name_list(content_dict.content_modifier_selected)">
                                                    <ng-container *ngIf="get_order_name_html_type(content_dict.content_modifier_selected, oName) == 'text'">
                                                        <label for={{oName}} class="fixed-width-content-label">{{oName}} : </label>
                                                        <input [(ngModel)]="content_modifier_object[content_dict.content_modifier_selected][oName]" [ngModelOptions]="{standalone: true}" type="text">
                                                        <br>
                                                    </ng-container>

                                                    <ng-container *ngIf="get_order_name_html_type(content_dict.content_modifier_selected, oName) == 'check_box'">
                                                        <label for={{oName}} class="fixed-width-content-label">{{oName}} : </label>
                                                        <input  type="checkbox" name="{{oName}}" value="{{oName}}"
                                                         (change)="object_check_box_change($event, content_dict.content_modifier_selected, oName)">
                                                        <br>
                                                    </ng-container>

        
                                                    <ng-container *ngIf="get_order_name_html_type(content_dict.content_modifier_selected, oName) =='check_box_list'">
                                                        <ng-container *ngFor="let l of json_keyword[content_dict.content_modifier_selected][oName].check_box_list">
                                                            <input  type="checkbox" name="{{l}}" value="{{l}}" (change)="object_check_box_change($event, content_dict.content_modifier_selected, oName)">
                                                            <label for="{{l}}"> {{l}}</label>
                                                        </ng-container>
                                                    </ng-container>

                                                    <ng-container *ngIf="get_order_name_html_type(content_dict.content_modifier_selected, oName) == 'drop_down'">
                                                        <label for={{oName}} class="fixed-width-content-label">{{oName}} : </label>
                                                        <select [(ngModel)]="content_modifier_object[content_dict.content_modifier_selected][oName]" [ngModelOptions]="{standalone: true}">
                                                            <option *ngFor="let k of get_drop_down_dict_for_order(content_dict.content_modifier_selected, oName) | keyvalue " id="{{k.key}}" value="{{k.value}}"> {{k.key}} </option>
                                                        </select>
                                                        <br>
                                                    </ng-container>

                                                </ng-container>

                                            </ng-container>

                                        </ng-container>
                                    </td>
                                    <td>
                                        <button type="button" (click)="add_content_modifier(content_match_text_box, content_dict.content_modifier_negate, undefined)" >Add Without Content Mofier</button>
                                        <ng-container *ngIf="content_dict.content_modifier_selected">
                                            <button type="button" (click)="add_content_modifier(content_match_text_box, content_dict.content_modifier_negate, content_dict.content_modifier_selected)" >Add Content Mofier</button>
                                            
                                        </ng-container>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="content_dict.content_modifier_selected">
                                            <button type=button (click)="toggleHelp(content_dict.content_modifier_selected)" class="help-button">
                                                Show Help
                                            </button> 
                                            <div *ngIf="common_field_help_and_error_message[content_dict.content_modifier_selected]['showHelpMessage']" class="help-message">
                                                <p [innerHTML]="get_help_string(content_dict.content_modifier_selected)"></p>
                                                <button type=button (click)="toggleHelp('all')" class="help-button">Close</button>
                                            </div>
                                            
                                        </ng-container>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </ng-container>

                    <div *ngIf="show_content_modifier_table()">
                        <br>
                        <table>
                            <thead>
                                <tr>
                                    <th>Match Content</th>
                                    <th>Negate the Match</th>
                                    <th>Content Modifier</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                                
                                    <ng-container *ngFor="let k of user_selected_content_modifier['display']; let i=index">
                                        <tr>
                                        <td>{{k[0]}}</td>
                                        <td>{{k[1]}}</td>
                                        <td>{{k[2]}}</td>
                                        <td><button type="button" (click)="removeFromDataDict(i)">Remove</button></td>
                                        </tr>
                                    </ng-container>
                                
                            
                        </table>
                    </div>

                </ng-container>
                
            </section>
            <!-- Content END HERE Part Handling -->

            <!-- Protocol Specific Part start here-->
            <section>
                <ng-container *ngFor="let proto_param of get_protocol_detail_list()">
                    <label for="{{proto_param}}" class="fixed-width-content-label">{{proto_param.toUpperCase()}} : </label>
                    <button type="button" (click)="show_protocol_content_user_selection_table(proto_param)">ADD {{proto_param.toUpperCase()}}</button>
                    <label *ngIf="display_protocol_error_message(proto_param)" class="label-error-mesage">{{protocol_error_message(proto_param)}}</label>
                    <br><br>
                    <table *ngIf="display_protocol_content_user_selection_table(proto_param)">
                        <thead>
                            <tr>
                                <ng-container *ngFor="let hname of get_protocol_user_table_header_names(proto_param)">
                                    <th>{{hname}}</th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tr>
                            <td >
                                <select [(ngModel)]="protocol_content_dict[proto_param]['selected']" [ngModelOptions]="{standalone: true}" (change)="on_selection_change(proto_param)">
                                    <option *ngFor="let k of get_protocol_supported_options(proto_param)" id="{{k}}" value="{{k}}"> {{k}} </option>
                                </select>
                            </td>
                            <td class=".auto-td">
                                <ng-container *ngIf="protocol_content_dict[proto_param]['selected']">
                                    <ng-container *ngIf="get_html_tag_type(protocol_content_dict[proto_param]['selected']) == 'text'">
                                        <input [(ngModel)]="protocol_content_object_dict[proto_param][protocol_content_dict[proto_param]['selected']]" [ngModelOptions]="{standalone: true}"type="text">
                                    </ng-container>

                                    <ng-container *ngIf="get_html_tag_type(protocol_content_dict[proto_param]['selected']) == 'na'">
                                        Not Applicable
                                    </ng-container>

                                    <ng-container *ngIf="get_html_tag_type(protocol_content_dict[proto_param]['selected']) == 'check_box'">
                                        <input  type="checkbox" name="{{protocol_content_dict[proto_param]['selected']}}" value="{{protocol_content_dict[proto_param]['selected']}}"
                                    (change)="object_check_box_change_for_protocol($event, proto_param, protocol_content_dict[proto_param]['selected'])">
                                    </ng-container>

                                    <ng-container *ngIf="get_html_tag_type(protocol_content_dict[proto_param]['selected'])== 'check_box_list'">
                                        <ng-container *ngFor="let l of json_keyword[protocol_content_dict[proto_param]['selected']].check_box_list">
                                            <input  type="checkbox" name="{{l}}" value="{{l}}" (change)="object_check_box_change_for_protocol($event, proto_param, protocol_content_dict[proto_param]['selected'])">
                                            <label for="{{l}}"> {{l}}</label>
                                        </ng-container>
                                    </ng-container>

                                    <ng-container *ngIf="get_html_tag_type(protocol_content_dict[proto_param]['selected'])== 'drop_down'">
                                        <select [(ngModel)]="protocol_content_object_dict[proto_param][protocol_content_dict[proto_param]['selected']]" [ngModelOptions]="{standalone: true}">
                                            <option *ngFor="let k of get_drop_down_dict(protocol_content_dict[proto_param]['selected']) | keyvalue " id="{{k.key}}" value="{{k.value}}"> {{k.key}} </option>
                                        </select>
                                    </ng-container>

                                    <ng-container *ngIf="get_html_tag_type(protocol_content_dict[proto_param]['selected'])== 'ordered_tag_mandatory_optional'">
                                        <ng-container *ngFor="let oName of get_order_name_list(protocol_content_dict[proto_param]['selected'])">
                                            <ng-container *ngIf="get_order_name_html_type(protocol_content_dict[proto_param]['selected'], oName) == 'text'">
                                                <label for={{oName}}>{{oName}} : </label>
                                                <input type="text" [(ngModel)]="protocol_content_object_dict[proto_param][protocol_content_dict[proto_param]['selected']][oName]" [ngModelOptions]="{standalone: true}">
                                                <br>
                                            </ng-container>

                                            <ng-container *ngIf="get_order_name_html_type(protocol_content_dict[proto_param]['selected'], oName) == 'check_box'">
                                                <label for={{oName}} class="fixed-width-content-label">{{oName}} : </label>
                                                <input  type="checkbox" name="{{oName}}" value="{{oName}}"
                                                (change)="object_check_box_change_for_protocol($event, proto_param, protocol_content_dict[proto_param]['selected'], oName)">
                                                <br>
                                            </ng-container>

                                            <ng-container *ngIf="get_order_name_html_type(protocol_content_dict[proto_param]['selected'], oName) =='check_box_list'">
                                                <ng-container *ngFor="let l of json_keyword[protocol_content_dict[proto_param]['selected']][oName].check_box_list">
                                                    <input  type="checkbox" name="{{l}}" value="{{l}}" 
                                                    (change)="object_check_box_change_for_protocol($event, proto_param, protocol_content_dict[proto_param]['selected'], oName)">
                                                    <label for="{{l}}"> {{l}}</label>
                                                </ng-container>
                                            </ng-container>

                                            <ng-container *ngIf="get_order_name_html_type(protocol_content_dict[proto_param]['selected'], oName) == 'drop_down'">
                                                <label for={{oName}} class="fixed-width-content-label">{{oName}} : </label>
                                                <select [(ngModel)]="protocol_content_object_dict[proto_param][protocol_content_dict[proto_param]['selected']][oName]" [ngModelOptions]="{standalone: true}">
                                                    <option *ngFor="let k of get_drop_down_dict_for_order(protocol_content_dict[proto_param]['selected'], oName) | keyvalue " id="{{k.key}}" value="{{k.value}}"> {{k.key}} </option>
                                                </select>
                                                <br>
                                            </ng-container>

                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="do_show_negate_for_protocol(protocol_content_dict[proto_param]['selected'])">
                                        <br>
                                        <input [(ngModel)]="protocol_content_dict[proto_param]['negate']" [ngModelOptions]="{standalone: true}" type="checkbox" name="negate" 
                                        (change)="negate_protocol_content($event, proto_param)">
                                         <label>Negate the Match </label>
                                    </ng-container>
                                </ng-container>

                             </td>

                             <td *ngIf="protocol_content_dict[proto_param]['selected']">
                                <!-- <button type="button" (click)="add_user_selected_protocol_details(proto_param, protocol_content_dict[proto_param]['selected'], undefined, protocol_content_dict[proto_param]['negate'])"> Add Without Content Modifier </button> -->
                                <button type="button" (click)="add_user_selected_protocol_details(proto_param)"> Add Without Content Modifier </button>
                                <ng-container *ngIf="display_protocol_add_content_modifier_button(protocol_content_dict[proto_param]['selected'])">
                                    <button (click)="show_protocol_content_modifier_table(proto_param)">Add Content Modifier</button>
                                </ng-container>
                             </td>

                             <ng-container *ngIf="!protocol_content_dict[proto_param]['selected']">
                                <td></td>
                                <td></td>
                             </ng-container>

                        </tr>
                        </table>
                        <br><br>
                        <table *ngIf="display_protocol_content_modifier_table(proto_param)">
                            <thead>
                                 <tr>
                                    <ng-container *ngFor="let hname of get_protocol_content_modifier_table_header(proto_param)">
                                        <th>{{hname}}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    <select [(ngModel)]="protocol_content_modifier_dict[proto_param]['selected']" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let d of get_content_modifier_list_for_protocol_param(protocol_content_dict[proto_param]['selected'])" id="{{d}}" value="{{d}}"> {{d}} </option>
                                    </select>

                                </td>
                                
                                <ng-container *ngIf="protocol_content_modifier_dict[proto_param]['selected']" >
                                    <td>
                                        <ng-container *ngIf="get_html_tag_type(protocol_content_modifier_dict[proto_param]['selected']) == 'text'">
                                            <input [(ngModel)]="protocol_content_modifier_object_dict[proto_param][protocol_content_modifier_dict[proto_param]['selected']]" 
                                            [ngModelOptions]="{standalone: true}"type="text">
                                        </ng-container>



                                        <ng-container *ngIf="get_html_tag_type(protocol_content_modifier_dict[proto_param]['selected'])== 'na'">
                                            <label>Not Applicable</label>
                                        </ng-container>

                                        <ng-container *ngIf="get_html_tag_type(protocol_content_modifier_dict[proto_param]['selected'])== 'check_box'">
                                            <input  type="checkbox" name="{{protocol_content_modifier_dict[proto_param]['selected']}}" value="{{protocol_content_modifier_dict[proto_param]['selected']}}"
                                             (change)="object_check_box_change_for_protocol_content_modifier($event, proto_param, protocol_content_modifier_dict[proto_param]['selected'])">
                                        </ng-container>

                                        <ng-container *ngIf="get_html_tag_type(protocol_content_modifier_dict[proto_param]['selected'])== 'check_box_list'">
                                            <ng-container *ngFor="let l of json_keyword[protocol_content_modifier_dict[proto_param]['selected']].check_box_list">
                                                <input  type="checkbox" name="{{l}}" value="{{l}}" 
                                                (change)="object_check_box_change_for_protocol_content_modifier($event, proto_param, protocol_content_modifier_dict[proto_param]['selected'])">
                                                <label for="{{l}}"> {{l}}</label>
                                            </ng-container>
                                        </ng-container>

                                        <ng-container *ngIf="get_html_tag_type(protocol_content_modifier_dict[proto_param]['selected'])== 'drop_down'">
                                            <select [(ngModel)]="protocol_content_modifier_object_dict[proto_param][protocol_content_modifier_dict[proto_param]['selected']]" [ngModelOptions]="{standalone: true}">
                                                <option *ngFor="let k of get_drop_down_dict(protocol_content_modifier_dict[proto_param]['selected']) | keyvalue " id="{{k.key}}" value="{{k.value}}"> {{k.key}} </option>
                                            </select>
                                        </ng-container>


                                        <ng-container *ngIf="get_html_tag_type(protocol_content_modifier_dict[proto_param]['selected'])== 'ordered_tag_mandatory_optional'">
                                            <ng-container *ngFor="let oName of get_order_name_list(protocol_content_modifier_dict[proto_param]['selected'])">
                                                <ng-container *ngIf="get_order_name_html_type(protocol_content_modifier_dict[proto_param]['selected'], oName) == 'text'">
                                                    <label for={{oName}}>{{oName}} : </label>
                                                      <input type="text" [(ngModel)]="protocol_content_modifier_object_dict[proto_param][protocol_content_modifier_dict[proto_param]['selected']][oName]" [ngModelOptions]="{standalone: true}">
                                                      <br>
                                                </ng-container>
        
                                                <ng-container *ngIf="get_order_name_html_type(protocol_content_modifier_dict[proto_param]['selected'], oName) == 'check_box'">
                                                    <label for={{oName}} class="fixed-width-content-label">{{oName}} : </label>
                                                    <input  type="checkbox" name="{{oName}}" value="{{oName}}"
                                                     (change)="object_check_box_change_for_protocol_content_modifier($event, proto_param, protocol_content_modifier_dict[proto_param]['selected'], oName)">
                                                    <br>
                                                </ng-container>
        
                                                <ng-container *ngIf="get_order_name_html_type(protocol_content_modifier_dict[proto_param]['selected'], oName) =='check_box_list'">
                                                    <ng-container *ngFor="let l of json_keyword[protocol_content_modifier_dict[proto_param]['selected']][oName].check_box_list">
                                                        <input  type="checkbox" name="{{l}}" value="{{l}}" 
                                                        (change)="object_check_box_change_for_protocol_content_modifier($event, proto_param, protocol_content_modifier_dict[proto_param]['selected'], oName)">
                                                        <label for="{{l}}"> {{l}}</label>
                                                    </ng-container>
                                                </ng-container>
        
                                                <ng-container *ngIf="get_order_name_html_type(protocol_content_modifier_dict[proto_param]['selected'], oName) == 'drop_down'">
                                                    <label for={{oName}} class="fixed-width-content-label">{{oName}} : </label>
                                                    <select [(ngModel)]="protocol_content_modifier_object_dict[proto_param][protocol_content_modifier_dict[proto_param]['selected']][oName]" [ngModelOptions]="{standalone: true}">
                                                        <option *ngFor="let k of get_drop_down_dict_for_order(protocol_content_modifier_dict[proto_param]['selected'], oName) | keyvalue " id="{{k.key}}" value="{{k.value}}"> {{k.key}} </option>
                                                    </select>
                                                    <br>
                                                </ng-container>
        
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                    <td>
                                        <!-- <button type="button" (click)="add_user_selected_protocol_details(proto_param, protocol_content_dict[proto_param]['selected'], protocol_content_modifier_dict[proto_param]['selected'], protocol_content_dict[proto_param]['negate'])">Add</button> -->
                                        <button type="button" (click)="add_user_selected_protocol_details(proto_param)">Add</button>
                                    </td>
                                    <td>
                                        show help
                                    </td>
                                </ng-container>

                                <ng-container *ngIf="!protocol_content_modifier_dict[proto_param]['selected']" >
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </ng-container>

                            </tr>    
                            
                        </table>


                        <div *ngIf="show_user_selected_table(proto_param)">
                            <br><br>
                            <table>
                                <thead>
                                    <tr>
                                        <ng-container *ngFor="let l of get_user_selection_table_headers(proto_param)">
                                            <th>{{l}}</th>
                                        </ng-container>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                    
                                        <ng-container *ngFor="let k of get_user_selected_protocol_details_rows_for_table(proto_param); let i=index">
                                            <tr>
                                            <td>{{k[0]}}</td>
                                            <td>{{k[1]}}</td>
                                            <td>{{k[2]}}</td>
                                            <td>{{k[3]}}</td>
                                            <td>{{k[4]}}</td>
                                            <td><button type="button" (click)="remove_user_selection_entry(i, proto_param)">Remove</button></td>
                                            </tr>
                                        </ng-container>
                                    
                                
                            </table>
                        </div>
                        
                </ng-container>
            </section>

            <!-- Meta keyword end here -->
            <section>
                <ng-container *ngIf="protocol_json_data['meta_keyword']">
                    <br><br>
                    <ng-container *ngIf="protocol_json_data['meta_keyword']['supported_options']">
                        <label for="meta_keyword">Meta keword : </label>
                        <button [disabled]="disable_meta_keyword" type="button" (click)="add_meta_keyword()">Add Meta Keword</button>
                        
                        <br><br>
                        <div *ngIf="show_meta_keyword_table">
                            
                            <br><br>
                            <table>
                                <thead>
                                    <tr>
                                        <ng-container *ngFor="let k of get_meta_keyword_header_names()">
                                            <th>{{k}}</th>
                                        </ng-container>
                                      </tr>
                                </thead>

                                <tr>
                                    <td>
                                        <select [(ngModel)]="meta_keyword_selected" [ngModelOptions]="{standalone: true}" >
                                            <option *ngFor="let k of get_meta_keyword_supported_option()" id="{{k}}" value="{{k}}"> {{k}} </option>
                                        </select>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="meta_keyword_selected">
                                            <ng-container *ngIf="get_html_tag_type(meta_keyword_selected) == 'text'">
                                                <input [(ngModel)]="meta_keyword_object_dict[meta_keyword_selected]" [ngModelOptions]="{standalone: true}"type="text">
                                            </ng-container>

                                            <ng-container *ngIf="get_html_tag_type(meta_keyword_selected)== 'na'">
                                                <label>Not Applicable</label>
                                            </ng-container>

                                            <ng-container *ngIf="get_html_tag_type(meta_keyword_selected)== 'check_box'">
                                                <input  type="checkbox" name="{{meta_keyword_selected}}" value="{{meta_keyword_selected}}"
                                                 (change)="object_check_box_change_for_metakeyword($event, meta_keyword_selected)">
                                            </ng-container>

                                            <ng-container *ngIf="get_html_tag_type(meta_keyword_selected)== 'check_box_list'">
                                                <ng-container *ngFor="let l of json_keyword[meta_keyword_selected].check_box_list">
                                                    <input  type="checkbox" name="{{l}}" value="{{l}}" (change)="object_check_box_change_for_metakeyword($event, meta_keyword_selected)">
                                                    <label for="{{l}}"> {{l}}</label>
                                                </ng-container>
                                            </ng-container>

                                            <ng-container *ngIf="get_html_tag_type(meta_keyword_selected)== 'drop_down'">
                                                <select [(ngModel)]="meta_keyword_object_dict[meta_keyword_selected]" [ngModelOptions]="{standalone: true}">
                                                    <option *ngFor="let k of get_drop_down_dict(meta_keyword_selected) | keyvalue " id="{{k.key}}" value="{{k.value}}"> {{k.key}} </option>
                                                </select>
                                            </ng-container>

                                            <ng-container *ngIf="get_html_tag_type(meta_keyword_selected)== 'ordered_tag_mandatory_optional'">
                                                <ng-container *ngFor="let oName of get_order_name_list(meta_keyword_selected)">
                                                    <ng-container *ngIf="get_order_name_html_type(meta_keyword_selected, oName) == 'text'">
                                                        <label for={{oName}} class="fixed-width-content-label">{{oName}} : </label>
                                                        <input [(ngModel)]="meta_keyword_object_dict[meta_keyword_selected][oName]" [ngModelOptions]="{standalone: true}" type="text">
                                                        <br>
                                                    </ng-container>

                                                    <ng-container *ngIf="get_order_name_html_type(meta_keyword_selected, oName) == 'check_box'">
                                                        <label for={{oName}} class="fixed-width-content-label">{{oName}} : </label>
                                                        <input  type="checkbox" name="{{oName}}" value="{{oName}}"
                                                         (change)="object_check_box_change($event, meta_keyword_selected, oName)">
                                                        <br>
                                                    </ng-container>

        
                                                    <ng-container *ngIf="get_order_name_html_type(meta_keyword_selected, oName) =='check_box_list'">
                                                        <ng-container *ngFor="let l of json_keyword[meta_keyword_selected][oName].check_box_list">
                                                            <input  type="checkbox" name="{{l}}" value="{{l}}" (change)="object_check_box_change($event, meta_keyword_selected, oName)">
                                                            <label for="{{l}}"> {{l}}</label>
                                                        </ng-container>
                                                    </ng-container>

                                                    <ng-container *ngIf="get_order_name_html_type(meta_keyword_selected, oName) == 'drop_down'">
                                                        <label for={{oName}} class="fixed-width-content-label">{{oName}} : </label>
                                                        <select [(ngModel)]="meta_keyword_object_dict[meta_keyword_selected][oName]" [ngModelOptions]="{standalone: true}">
                                                            <option *ngFor="let k of get_drop_down_dict_for_order(meta_keyword_selected, oName) | keyvalue " id="{{k.key}}" value="{{k.value}}"> {{k.key}} </option>
                                                        </select>
                                                        <br>
                                                    </ng-container>

                                                </ng-container>

                                            </ng-container>

                                        </ng-container>
                                    </td>
                                    <td>
                                        <button type="button" (click)="add_user_selected_meta_keyword(meta_keyword_selected)" >Add Keyword</button>
                                        
                                    </td>
                                    <td>
                                        <ng-container *ngIf="meta_keyword_selected">
                                            <button type=button (click)="toggleHelp(meta_keyword_selected)" class="help-button">
                                                Show Help
                                            </button> 
                                            <div *ngIf="common_field_help_and_error_message[meta_keyword_selected]['showHelpMessage']" class="help-message">
                                                <p [innerHTML]="get_help_string(meta_keyword_selected)"></p>
                                                <button type=button (click)="toggleHelp('all')" class="help-button">Close</button>
                                            </div>
                                            
                                        </ng-container>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </ng-container>
                    <!-- 
                    <div *ngIf="show_user_selected_meta_keyword_table()">
                        <br>
                        <table>
                            <thead>
                                <tr>
                                    <th>Match Content</th>
                                    <th>Negate the Match</th>
                                    <th>Content Modifier</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                                
                                    <ng-container *ngFor="let k of user_selected_content_modifier['display']; let i=index">
                                        <tr>
                                        <td>{{k[0]}}</td>
                                        <td>{{k[1]}}</td>
                                        <td>{{k[2]}}</td>
                                        <td><button type="button" (click)="removeFromDataDict(i)">Remove</button></td>
                                        </tr>
                                    </ng-container>
                                
                            
                        </table>
                    </div>

                    -->

                </ng-container>
                
            </section>

            <!-- Meta keyword end here -->

        </ng-container>
    
        <br>
        <button class="button-marging" type="submit" (ngSubmit)="onSubmit()">Submit</button>
    </div>
</form>
</div>

<!--

                            

                    

                      


                            



-->