

<h1>Suricata Rule Generator</h1>
<table>
    <tr>
        <td>
            <select [(ngModel)]="selectedOption" class="container" (ngModelChange)="onOptionSelected()" (change)="onOptionSelected()">
                <option value="" [selected]="true">------------------------- Select Protocol Option -------------------------</option>
                <option *ngFor="let k of protocol_list" id="{{k}}" value="{{k}}"> {{k}} </option>
            </select>
        </td>
    </tr>
</table>


<div *ngIf="showApp">
<app-protocol [check_protocol]="selectedOption" [check_url]="check_url"></app-protocol>
</div>

